__pycache__/
*.py[cod]
*.pyo
*.pyd


db.sqlite3
*.log
local_settings.py
media/
staticfiles/

# Compiled translations
*.mo

**/migrations/__pycache__/

.env
.env.*
!.env.example

.coverage
htmlcov/
pytest_cache/

.vscode/
.idea/
.DS_Store
Thumbs.db